<div
  data-date-range-picker
  data-value="{{ JSON.stringify(value) }}"
  {{ $props.get('data') ? html.attrs($props.get('data')) : '' }}
>
  <input
    class="input-date-range-picker form-control"
    type="text"
    placeholder="{{ label }}"
    readonly
  />
  <wc-datepicker
    style="visibility: hidden; position: absolute; z-index: 99"
    range
    first-day-of-week="1"
    show-clear-button
  ></wc-datepicker>
  <input class="input-date-range-picker-start-date" type="hidden" disabled name="{{ name }}[0]" />
  <input class="input-date-range-picker-end-date" type="hidden" disabled name="{{ name }}[1]" />
</div>
