@let(classAttributes = $props
  .only(['class'])
  .merge({
    class: ['btn btn-primary btn-sm px-4 py-3 rounded hstack gap-1 fw-medium'],
  })
  .toAttrs())
@let(fileInfo = `${file.extension ? `${file.extension.toUpperCase()} - ` : ''}${stringHelper.bytes.format(file.size)}`)
<a href="{{ url }}" download {{ classAttributes }}>
  <div>
    @svg('ph:download-simple', { width: 16, height: 16, class: 'flex-shrink-0' })
  </div>
  <div>{{{ await $slots.main() }}} <span>({{ fileInfo }})</span></div>
</a>
