@let(isCurrentRoute = request.url() === route)
@let(classAttributes = $props
  .only(['class'])
  .merge({
    class: [isCurrentRoute ? 'active' : ''],
  })
  .toAttrs())
<a
  href="{{ route }}"
  {{ classAttributes }}
  {{{ isExternal ? 'target="_blank" rel="noopener noreferrer"' : '' }}}
  {{{ isCurrentRoute ? 'aria-current="page"' : '' }}}
>
  {{{ await $slots.main() }}}
</a>
