{{--
MoreFilter component is based on dropdown Bootstrap component

```html
<div id="more-filters" class="dropdown">
  <buttonclass="btn btn-light dropdown-toggle">Plus de filtres</button>
  <span class="badge text-bg-primary rounded-pill"></span>
  <div class="dropdown-menu dropdown-menu-end">
  </div>
</div>
```

## Specials attributes
- `data-more-filters-step=...` to define a step
- `data-more-filters-goto=...` to define a button to navigate between step
- `data-more-filters-input=...` to listen input change
- `data-more-filters-value=...` to get the value of listened input

## Define steps

The content of `dropdown-menu` elem is managed by a step mechanisme.

Inside the `dropdown-menu` element you can define steps with `data-more-filters-step`

```html
<div class="dropdown-menu dropdown-menu-end">
  <div data-more-filters-step="menu">...</div>
  <div data-more-filters-step="decision">...</div>
  <div data-more-filters-step="dateAudience">...</div>
</div>
```

To navigate between steps you can add button with `data-more-filters-goto` inside the steps :

```html
<div data-more-filters-step="menu">
  <button type="button" class="dropdown-item" data-more-filters-goto="ville">...</button>
</div>
<div data-more-filters-step="decision">
  <button type="button" class="dropdown-item" data-more-filters-goto="menu">...</button>
</div>
```

## Use input value

To manipulate the input values of form add `data-more-filters-input` on each input

```html
<select name="juridiction" class="form-select" data-more-filters-input="juridiction">...</select>
@!component('components/multi_select', {
  data: { ['data-more-filters-input']: "collectif" }
})
@!component('components/date_range_picker', {
  data: { ['data-more-filters-input']: "dateDesFaits" }
})
```

With this the MoreFilter component can listen input changes.

You can display the values by adding `data-more-filters-value` on a html element.

```html
<span data-more-filters-value="juridiction"> [The value of input will be displayed here] </span>
```
--}}

@pushOnceTo('components')
  <script type="module">
    export default class MoreFilter {
      #refElment;
      #steps = [];
      #currentStep;
      #inputs = {};
      #badge;
      constructor(refElment, initialStep) {
        this.#refElment = refElment;
        this.#currentStep = initialStep;
        this.#badge = refElment.querySelector(".badge");
        this.#refElment.querySelectorAll("[data-more-filters-goto]").forEach(elem => {
          elem.addEventListener("click", () => {
            this.#currentStep = elem.dataset.moreFiltersGoto;
            this.#renderStep();
          });
        });
        this.#refElment.querySelectorAll("[data-more-filters-step]").forEach(elem => {
          const step = elem.dataset.moreFiltersStep;
          if (step !== initialStep) {
            elem.style.setProperty("display", "none");
          }
          this.#steps.push(elem);
        });
        this.#refElment.querySelectorAll("[data-more-filters-input]").forEach(elem => {
          const type = elem.dataset.moreFiltersInput;
          const value = elem.value;
          this.#refElment.querySelector(`[data-more-filters-value=${type}]`).innerText = value ? ` : ${value}` : "";
          this.#renderBadge();
        });
        this.#bind();
      }
      #renderStep() {
        this.#steps.forEach(elem => {
          const step = elem.dataset.moreFiltersStep;
          if (step !== this.#currentStep) {
            elem.style.setProperty("display", "none");
          } else {
            elem.style.removeProperty("display");
          }
        });
      }
      #renderBadge() {
        let count = 0;
        for (const elem of this.#refElment.querySelectorAll(`[data-more-filters-input]`)) {
          count += elem.value ? 1 : 0;
        }
        this.#badge.innerText = count;
        if (count <= 0) {
          this.#badge.style.setProperty("visibility", "hidden");
        } else {
          this.#badge.style.setProperty("visibility", "visible");
        }
      }
      #bind() {
        this.#refElment.querySelectorAll("[data-more-filters-input]").forEach(elem => {
          elem.addEventListener("change", event => {
            const type = event.target.dataset.moreFiltersInput;
            const value = event.target.value;
            this.#refElment.querySelector(`[data-more-filters-value=${type}]`).innerText = value ? ` : ${value}` : "";
            this.#renderBadge();
          });
        });
        this.#renderBadge();
      }
    }

    new MoreFilter(document.querySelector("#more-filters"), "menu");
  </script>
@end

@pushOnceTo('components')
  <style>
    .more-filters-value {
      max-width: 14rem;
      margin-right: 1rem;
    }
  </style>
@end

<div id="more-filters" class="dropdown">
  <button
    class="btn btn-light dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    data-bs-config='{ "autoClose":"outside" }'
  >
    <span class="ms-1">Plus de filtres</span>
  </button>
  <span class="badge text-bg-primary rounded-pill"></span>
  <div class="dropdown-menu dropdown-menu-end" style="min-width: 20rem">
    <div data-more-filters-step="menu">
      <button type="button" class="dropdown-item" data-more-filters-goto="ville">
        Ville <span
          class="more-filters-value fw-bold d-inline-block text-truncate align-text-bottom"
          data-more-filters-value="ville"
        ></span>
        <span class="position-absolute end-0 me-3">{{ svg('ph:caret-right') }}</span>
      </button>

      <button type="button" class="dropdown-item" data-more-filters-goto="juridiction">
        Juridiction <span
          class="more-filters-value fw-bold d-inline-block text-truncate align-text-bottom"
          data-more-filters-value="juridiction"
        ></span>
        <span class="position-absolute end-0 me-3">{{ svg('ph:caret-right') }}</span>
      </button>

      <button type="button" class="dropdown-item" data-more-filters-goto="decision">
        Décision <span
          class="more-filters-value fw-bold d-inline-block text-truncate align-text-bottom"
          data-more-filters-value="decision"
        ></span>
        <span class="position-absolute end-0 me-3">{{ svg('ph:caret-right') }}</span>
      </button>

      <button type="button" class="dropdown-item" data-more-filters-goto="collectif">
        Collectif <span
          class="more-filters-value fw-bold d-inline-block text-truncate align-text-bottom"
          data-more-filters-value="collectif"
        ></span>
        <span class="position-absolute end-0 me-3">{{ svg('ph:caret-right') }}</span>
      </button>

      <button type="button" class="dropdown-item" data-more-filters-goto="chefDePrevention">
        Chef de prévention <span
          class="more-filters-value fw-bold d-inline-block text-truncate align-text-bottom"
          data-more-filters-value="chefDePrevention"
        ></span>
        <span class="position-absolute end-0 me-3">{{ svg('ph:caret-right') }}</span>
      </button>

      <button type="button" class="dropdown-item" data-more-filters-goto="dateAudience">
        Date d'audience <span
          class="more-filters-value fw-bold d-inline-block text-truncate align-text-bottom"
          data-more-filters-value="dateAudience"
        >{{ searchQuery.dateAudience ? ` : Entre le ${searchQuery.dateAudience.map((date) => date.split('-').reverse().join('.')).join(' et le ')}` : '' }}</span>
        <span class="position-absolute end-0 me-3">{{ svg('ph:caret-right') }}</span>
      </button>

      <button type="button" class="dropdown-item" data-more-filters-goto="dateDesFaits">
        Date des faits <span
          class="more-filters-value fw-bold d-inline-block text-truncate align-text-bottom"
          data-more-filters-value="dateDesFaits"
        >{{ searchQuery.dateDesFaits ? ` : Entre le ${searchQuery.dateDesFaits.map((date) => date.split('-').reverse().join('.')).join(' et le ')}` : '' }}</span>
        <span class="position-absolute end-0 me-3">{{ svg('ph:caret-right') }}</span>
      </button>
    </div>

    <div data-more-filters-step="ville">
      <button type="button" class="dropdown-item" data-more-filters-goto="menu">
        {{ svg('ph:caret-left') }} Ville 
      </button>
      <div class="p-2">
        <select name="ville" class="form-select" data-more-filters-input="ville">
          <option value="" {{ searchQuery.ville === "" ? "selected" : "" }}>
            Ville
          </option>
          @each(ville in villes)
            <option value="{{ ville.nom }}" {{ searchQuery.ville === ville.nom ? "selected" : "" }}>
              {{ ville.nom }}
            </option>
          @end
        </select>
      </div>
    </div>

    <div data-more-filters-step="juridiction">
      <button type="button" class="dropdown-item" data-more-filters-goto="menu">
        {{ svg('ph:caret-left') }} Juridiction
      </button>
      <div class="p-2">
        <select name="juridiction" class="form-select" data-more-filters-input="juridiction">
          <option value="" {{ searchQuery.juridiction === "" ? "selected" : "" }}>
            Juridiction
          </option>
          @each(juridiction in juridictions)
            <option
              value="{{ juridiction.intitule }}"
              {{ searchQuery.juridiction === juridiction.intitule ? "selected" : "" }}
            >
              {{ juridiction.intitule }}
            </option>
          @end
        </select>
      </div>
    </div>

    <div data-more-filters-step="decision">
      <button type="button" class="dropdown-item" data-more-filters-goto="menu">
        {{ svg('ph:caret-left') }} Décision
      </button>
      <div class="p-2">
        <select name="decision" class="form-select" data-more-filters-input="decision">
          <option value="" {{ searchQuery.decision === "" ? "selected" : "" }}>
            Décision
          </option>
          <option value="Condamnable" {{ searchQuery.decision === "Condamnable" ? "selected" : "" }}>
            Condamnable
          </option>
          <option value="Relaxe" {{ searchQuery.decision === "Relaxe" ? "selected" : "" }}>
            Relaxe
          </option>
        </select>
      </div>
    </div>

    <div data-more-filters-step="collectif">
      <button type="button" class="dropdown-item" data-more-filters-goto="menu">
        {{ svg('ph:caret-left') }} Collectif
      </button>
      <div class="p-2">
        @!component('components/multi_select', {
          name: "collectif",
          label: "Collectif d'action",
          options: collectifs.map(c => c.nom),
          selected: searchQuery.collectif ?? '',
          data: { ['data-more-filters-input']: "collectif" }
        })
      </div>
    </div>

    <div data-more-filters-step="chefDePrevention">
      <button type="button" class="dropdown-item" data-more-filters-goto="menu">
        {{ svg('ph:caret-left') }} Chef de prevention
      </button>
      <div class="p-2">
        @!component('components/multi_select', {
          name: 'chefDePrevention',
          label: 'Chef de prévention',
          options: chefDePreventionCategories.map(c => c.intitule),
          selected: searchQuery.chefDePrevention ?? '',
          data: { ['data-more-filters-input']: "chefDePrevention" }
        })
      </div>
    </div>

    <div data-more-filters-step="dateAudience">
      <button type="button" class="dropdown-item" data-more-filters-goto="menu">
        {{ svg('ph:caret-left') }} Date d'audience
      </button>
      <div class="p-2">
        @!component('components/date_range_picker', {
          name: 'dateAudience',
          label: "Date d'audience",
          value: searchQuery.dateAudience ?? [],
          data: { ['data-more-filters-input']: "dateAudience" }
        })
      </div>
    </div>

    <div data-more-filters-step="dateDesFaits">
      <button type="button" class="dropdown-item" data-more-filters-goto="menu">
        {{ svg('ph:caret-left') }} Date des faits
      </button>
      <div class="p-2">
        @!component('components/date_range_picker', {
          name: 'dateDesFaits',
          label: 'Date des faits',
          value: searchQuery.dateDesFaits ?? [],
          data: { ['data-more-filters-input']: "dateDesFaits" }
        })
      </div>
    </div>

  </div>
</div>
