<div class="mb-3">
  <div
    class="token-input-wrapper"
    data-multi-select
    data-options="{{ JSON.stringify(options) }}"
    data-selected="{{ JSON.stringify(selected) }}"
    data-name="{{ name }}"
    {{ $props.get('data') ? html.attrs($props.get('data')) : '' }}
  >
    <input type="text" class="token-input" placeholder="{{ label }}" autocomplete="off" />
    <div class="token-dropdown">
    </div>
  </div>
</div>
