@pushOnceTo('components')
  <script>
    class PasswordInput {
      #wrapper;
      #btn;
      #input;

      constructor(wrapper) {
        this.#wrapper = wrapper;
        this.#btn = this.#wrapper.querySelector('.btn');
        this.#input = this.#wrapper.querySelector('input');
        this.#bind();
      }

      #bind() {
        this.#btn.addEventListener('click', () => {
          this.#togglePasswordVisibility();
        });
      }

      #togglePasswordVisibility() {
        for (const item of this.#btn.children) {
          item.hidden = !item.hidden;
        }
        this.#input.type = this.#input.type === 'password' ? 'input' : 'password';
      }

      static init() {
        document.addEventListener('DOMContentLoaded', () => {
          document.querySelectorAll('[data-password-input]').forEach((wrapper) => {
            if (wrapper.dataset.initialized) return;
            wrapper.dataset.initialized = 'true';

            const name = wrapper.dataset.name || 'select';
            new PasswordInput(wrapper);
          });
        });
      }
    }

    PasswordInput.init();
  </script>
@end

<div class="input-group" data-password-input>
  <input type="password" class="form-control" id="{{ id }}" name="{{ name }}" required />
  <button type="button" class="btn btn-outline-primary">
    <span name="eye-open" hidden>
      @svg('ph:eye')
    </span>
    <span name="eye-close">
      @svg('ph:eye-closed')
    </span>
  </button>
</div>
