@let (dateFormat = 'dd.MM.yy')

<div class="timeline d-flex w-100">
  @each((t, index) in data)
    @let(decisionClass = html.classNames({
      'conviction': t.decision_pour_les_infractions_principales === 'Condamnation',
      'acquittal': t.decision_pour_les_infractions_principales === 'Relaxe'
    }))

    @let(timelinePinClass = html.classNames({
      'pin-fill': t.date !== null,
      'pin-stroke': t.date === null
    }))
    <!-- Add a special node at the start of the timeline to display a continued line toward past -->
    @if (index === 0)
      <div
        class="timeline-node timeline-node-start {{ html.classNames({ 'timeline-node-start--skipped': t.skipped_before }) }}"
      >
        <span class="timeline-link"></span>
      </div>
    @endif
    
    <div
      class="timeline-node flex-1 {{ html.classNames({ 'current': t.id == current, 'timeline-node-skipped': t.skipped_before || t.skipped_after }) }}"
      {{ html.attrs(t.skipped_before ? { 'data-skipped-before': t.skipped_before } : {}) }}
      {{ html.attrs(t.skipped_after ? { 'data-skipped-after': t.skipped_after } : {}) }}
    >
      <span class="timeline-link"></span>
      <span class="timeline-pin {{ timelinePinClass }}"></span>
      <span class="d-flex flex-column w-100 overflow-hidden">
        <span class="label mt-2">{{ t.date === null ? "À venir" : DateTime.fromISO(t.date).toFormat(dateFormat) }}</span>
        @if (t.type ==='faits')
          <span class="label mt-1 fw-bold">Faits</span>
        @else
          @if (t.juridiction)
            <span class="label mt-1 text-truncate d-block">{{ t.juridiction }}</span>
          @end
          @if (t.type_de_peine_pour_les_infractions_principales)
            <span
              class="label mt-1 conclusion d-flex align-items-center gap-1 w-100 overflow-hidden {{ decisionClass }}"
            >
              @svg('ph:gavel-fill', { class:"flex-shrink-0" })
              <span class="text-truncate">
                {{ t.type_de_peine_pour_les_infractions_principales }}
              </span>
            </span>
          @endif
        </span>
      @endif
    </div>
  @end
</div>
