@let (dateFormat = 'dd.MM.yy')

<div class="timeline mb-3">
  @each(t in data.sort((a, b) => new Date(a.date) - new Date(b.date)))
    <a href="/audiences/{{ t.id }}">
      <div class="timeline-node {{ html.classNames({ 'current': t.id == current }) }}">
        <span class="timeline-link"></span>
        <span class="timeline-pin"></span>
        <span class="label">{{ DateTime.fromISO(t.date_de_decision).toFormat(dateFormat) }}</span>
        <span class="label">{{ t.degre_de_juridiction }}</span>
        <span
          class="
          label 
          conclusion 
          {{ html.classNames({ 'conviction': t.decision_pour_les_infractions_principales == "
          Condamnation
          {{ html.classNames({ 'acquittal': t.decision_pour_les_infractions_principales == "Relaxe" }) }}
        >
          {{ t.type_de_peine_pour_les_infractions_principales }} 
        </span>
      </div>
    </a>
  @end
</div>
