@eval(await auth.check())
<nav class="navbar mb-3">
  <div class="container">
    <a class="navbar-brand fw-bold" href="/">
      <img src="{{ asset('resources/images/msde_logo.svg') }}" />
    </a>
    <div class="d-flex gap-2">
      @if(auth.user)
        <span class="navbar-text">
          {{ auth.user.email }} -
          ({{ auth.user.approved ? 'Compte approuvé' : 'En attente d\'approbation' }}) - 
          <a href="/change-password">Changer le mot de passe</a>
        </span>
        <form action="/logout" method="POST">
          {{ csrfField() }}
        <button type="submit" class="btn btn-outline-danger">Se déconnecter</button>
        </form>
      @else
        <a href="/sign-in" class="btn btn-outline-primary">Se connecter</a>
        <a href="/sign-up" class="btn btn-primary">Demander un accès</a>
      @endif
    </div>
  </div>
</nav>
