# ADONIS
TZ=UTC
PORT=3333
HOST=localhost
SERVER_URL=localhost
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
SESSION_DRIVER=cookie
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=admin
DB_DATABASE=relaxes_pour_le_vivant

# POSTGRES
POSTGRES_PASSWORD=admin
POSTGRES_USER=admin
POSTGRES_DB=administration

# NOCODB
NC_AUTH_JWT_SECRET=secret
NC_DB=pg://db:5432?u=admin&p=admin&d=administration
NC_API_TOKEN=generated-token
NC_API_URL=http://localhost:3333
NC_ATTACHMENT_FIELD_SIZE=20971520  # default = 20 MB
NC_SECURE_ATTACHMENTS=true
NC_ALLOW_LOCAL_HOOKS=true

# METABASE
MB_DB_TYPE=postgres
MB_DB_DBNAME=metabase
MB_DB_PORT=5432
MB_DB_USER=admin
MB_DB_PASS=admin
MB_DB_HOST=db

# MAILPIT
MP_MAX_MESSAGES=5000
MP_SMTP_AUTH_ACCEPT_ANY=1
MP_SMTP_AUTH_ALLOW_INSECURE=1

# SMTP config for MAILPIT
SMTP_HOST=localhost
SMTP_PORT=1025
