<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Reset password - Relaxes Pour Le Vivant
    </title>
    @include('partials/bootstrap')
  </head>

  <body>
    <header>
      @include('partials/navbar')
    </header>

    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="vstack gap-3">
            <img class="d-block mx-auto" style="width: 48px;" src="/msde_icon.svg" alt="MSDE logo icon" />
            <h2 class="text-center">
              Réinitialisation du mot de passe
            </h2>
            <p class="text-center text-secondary">
              Mettez à jour votre compte avec un nouveau mot de passe
            </p>
            <form method="POST" action="/reset-password">
              <div class="vstack gap-3">
                {{ csrfField() }}
                @if(flashMessages.has('errors.auth'))
                  <div class="alert alert-danger">
                    {{ flashMessages.get('errors.auth') }}
                  </div>
                @endif
                <input type="hidden" name="email" value="{{ email }}" />
                <input type="hidden" name="token" value="{{ token }}" />
                <div class="mb-3">
                  <label for="password" class="form-label text-secondary">Nouveau mot de passe <span class="text-danger">*</span></label>
                  <input type="password" class="form-control" id="password" name="password" required />
                </div>
                <div class="mb-3">
                  <label for="confirmPassword" class="form-label text-secondary">Confirmer le nouveau mot de passe <span class="text-danger">*</span></label>
                  <input
                    type="password"
                    class="form-control {{ flashMessages.has('inputErrorsBag.confirmPassword') ? 'is-invalid' : '' }}"
                    id="confirmPassword"
                    name="confirmPassword"
                    required
                    aria-describedby="confirmPasswordErrors"
                  />
                  @inputError('confirmPassword')
                    <div id="confirmPasswordErrors" class="invalid-feedback">
                      @each(message in $messages)
                        <div>
                          {{ message }}
                        </div>
                      @end
                    </div>
                  @end
                </div>
                <div class="d-grid">
                  <button type="submit" class="btn btn-primary">Modifier le mot de passe</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
