<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Design system - {{ env.get('APP_NAME') }}
    </title>
    @include('partials/bootstrap')
  </head>

  <body class="bg-light">
    @include('partials/navbar')

    <div class="container vstack gap-3">

      <div class="row">
        <h1 class="gelica-display">
          Design system
        </h1>
      </div>

      <div class="row">
        <h2 class="gelica">
          Titres
        </h2>

        <h1>
          Titre h1
        </h1>
        <h2>
          Titre h2
        </h2>
        <h3>
          Titre h3
        </h3>
        <h4>
          Titre h4
        </h4>
        <h5>
          Titre h5
        </h5>
        <h6>
          Titre h6
        </h6>
      </div>

      <div class="row">
        <h2 class="gelica">
          Paragraphes
        </h2>

        <p class="fs-1">
          Paragraphe font-size 1 (40px – 2.5rem)
        </p>
        <p class="fs-2">
          Paragraphe font-size 2 (32px – 2rem)
        </p>
        <p class="fs-3">
          Paragraphe font-size 3 (28px – 1.75rem)
        </p>
        <p class="fs-4">
          Paragraphe font-size 4 (24px – 1.5rem)
        </p>
        <p class="fs-5">
          Paragraphe font-size 5 (20px – 1.25rem)
        </p>
        <p class="fs-6">
          Défaut – Paragraphe font-size 6 (16px – 1rem)
        </p>
      </div>

      <div class="row">
        <h2 class="gelica">
          Boutons
        </h2>

        <div class="d-inline gap-5">
          <a href="#" class="btn btn-primary">Bouton Primary</a>
          <a href="#" class="btn btn-outline-primary">Bouton Outline Primary</a>
          <a href="#" class="btn btn-primary yellow-cta">Bouton Custom Yellow CTA</a>
        </div>

      </div>

    </div>

  </body>

</html>
