@import 'multi_select.css';

.timeline {
  display: flex;
  flex-direction: row;
}

.timeline .flex-1 {
  flex: 1;
}

.timeline-node {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 0.8rem;
  min-width: 60px;

  &.timeline-node-start:not(.timeline-node-start--skipped) {
    min-width: 25px;
  }
}

.timeline-node > .timeline-pin {
  width: 8px;
  height: 8px;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  z-index: 2;
}

.timeline-node.timeline-node-skipped {
  --timeline-skipped-color: #6c757d;
  --timeline-skipped-bg: var(--relx-gray-background);

  &::before,
  &::after {
    position: absolute;
    width: 20px;
    height: 20px;
    color: var(--timeline-skipped-color);
    background-color: var(--timeline-skipped-bg);
    border-color: var(--timeline-skipped-color);
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    z-index: 2;
    top: -4px;
    text-align: center;
    font-weight: 600;
  }
}

.timeline-node.timeline-node-skipped[data-skipped-before]::before {
  content: attr(data-skipped-before);
  left: -30px;
}

.timeline-node.timeline-node-skipped[data-skipped-after]::after {
  content: attr(data-skipped-after);
  left: 30px;
}

.timeline-node > .timeline-pin.pin-fill {
  background-color: black;
}

.timeline-node > .timeline-link {
  position: relative;
  width: calc(100% - 8px);
  height: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: #ced4da;
  top: 5px;
  left: 12px;
}

.timeline-node.current > .timeline-pin {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.timeline-node.current > .label {
  color: #0d6efd;
}

.timeline-node > .label.conclusion {
  background-color: white;
  border-radius: 4px;
  padding: 4px;
}

.timeline-node > .label.acquittal {
  color: #28a745;
}

.timeline-node > .label.conviction {
  color: #dc3545;
}

/* Audience page specific styles */
.nav-audiences .nav-link {
  color: var(--relx-gray-2);
  font-weight: 500;

  &:hover {
    color: var(--msde-green);
  }

  .nav-audiences-footer {
    font-weight: 400;
  }

  &.active {
    font-weight: 700;

    .nav-audiences-footer {
      position: relative;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;
      font-weight: 600;

      .nav-link-indicator {
        flex: 1;
        height: 1px;
        background-color: var(--relx-blue-green);
      }

      .nav-link-indicator::after {
        content: '';
        display: block;
        position: absolute;
        inset-inline-end: -2px;
        top: 50%;
        transform: translateY(-50%);
        width: 4px;
        height: 4px;
        border-color: var(--relx-blue-green);
        background-color: var(--relx-blue-green);
        border-style: solid;
        border-radius: 10px;
        border-width: 1px;
        z-index: 2;
      }
    }
  }
}

.jugement-section {
  --jugement-section-padding: 1.5rem;
  padding: var(--jugement-section-padding);
  overflow: hidden;

  img {
    position: relative;
    mix-blend-mode: multiply;
    inset-block-start: -2.5rem;
    inset-inline-end: calc(var(--jugement-section-padding) * -1);
  }
}

dl {
  dt {
    color: var(--relx-gray-1);
  }

  dd {
    color: var(--relx-gray-2);
    font-weight: 500;
  }
}
