.timeline {
  display: flex;
  flex-direction: row;
}

.timeline > a > .timeline-node {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 0.8rem;
}

.timeline > a > .timeline-node > .timeline-pin {
  width: 8px;
  height: 8px;
  background-color: black;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  z-index: 2;
}

.timeline > a > .timeline-node > .timeline-link {
  position: relative;
  width: calc(100% - 8px);
  height: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: #ced4da;
  top: 5px;
  left: 12px;
}

.timeline > a > .timeline-node.current > .timeline-pin {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.timeline > a > .timeline-node.current > .label {
  color: #0d6efd;
}
