/*
  This file is used to override bootstrap's css variables
  Bootstraps components are personnalised via native css variable to represent the design identity of the app
*/

/*
  Overriding root Bootstrap's root variables
*/

:root {
  --bs-font-sans-serif: 'Poppins', sans-serif;
  --bs-primary: var(--msde-green);
  --bs-primary-rgb: var(--msde-green-rgb);
  --bs-light-rgb: var(--msde-white-rgb);
  --bs-heading-color: var(--bs-gray-900);
  --bs-body-color: var(--bs-gray-900);
  --bs-secondary-color: var(--bs-gray-600);
  --bs-link-color-rgb: var(--msde-green-rgb);
}

/*
  Adding color classes
*/
.text-bg-purple {
  color: var(--relx-purple-text);
  background-color: var(--relx-purple-background);
}

.text-purple {
  color: var(--relx-purple-text);
}

.bg-gray {
  background-color: var(--relx-gray-background);
}

.text-bg-gray {
  color: var(--relx-gray-2);
  background-color: var(--relx-gray-background);
}

.text-gray-2 {
  color: var(--relx-gray-2);
}

.text-bg-accent {
  color: var(--msde-white);
  background-color: var(--msde-green);
}

.bg-accent {
  background-color: var(--msde-green);
}

.text-bg-accent-dark {
  color: var(--msde-white);
  background-color: var(--relx-accent-dark);
}

.bg-accent-dark {
  background-color: var(--relx-accent-dark);
}

.text-bg-accent-subtle {
  color: var(--bs-body-color);
  background-color: var(--relx-accent-subtle);
}

.bg-accent-subtle {
  background-color: var(--relx-accent-subtle);
}

.text-yellow-1 {
  color: var(--relx-yellow-1);
}

.text-bg-yellow-1 {
  color: var(--relx-gray-3);
  background-color: var(--relx-yellow-1);
}

.bg-petrol-3 {
  background-color: var(--relx-petrol-3);
}

.text-bg-petrol-3 {
  color: var(--msde-white);
  background-color: var(--relx-petrol-3);
}

.text-petrol-2 {
  color: var(--relx-petrol-2);
}

.text-blue-green {
  color: var(--relx-blue-green);
}

.text-bg-green {
  color: var(--relx-custom-green);
  background-color: var(--relx-green-300);
}

.text-bg-red {
  color: var(--relx-text-danger);
  background-color: var(--relx-bg-danger);
}

/*
 Add border color utilities.
 */
.border-blue-green-2 {
  --bs-border-color: var(--relx-blue-green-2);
}

/*
  Overriding a markup
*/
a {
  text-decoration: none;
}

/*
  Overriding button elements
*/
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  --bs-btn-color: var(--msde-white);
  --bs-btn-bg: var(--msde-black);
  --bs-btn-border-color: var(--msde-green);

  --bs-btn-hover-color: var(--bs-btn-color);
  --bs-btn-hover-bg: var(--bs-btn-bg);
  --bs-btn-hover-border-color: var(--bs-btn-border-color);

  /*--bs-btn-focus-shadow-rgb: none;*/

  --bs-btn-active-color: var(--bs-btn-color);
  --bs-btn-active-bg: var(--bs-btn-bg);
  --bs-btn-active-border-color: var(--bs-btn-border-color);
  /*--bs-btn-active-shadow: none;*/

  --bs-btn-disabled-color: var(--bs-btn-color);
  --bs-btn-disabled-bg: var(--bs-btn-bg);
  --bs-btn-disabled-border-color: var(--bs-btn-border-color);

  --bs-border-radius: 100px;
}

.btn-outline-primary {
  --bs-btn-color: var(--msde-black);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;

  --bs-btn-hover-color: var(--bs-btn-color);
  --bs-btn-hover-bg: var(--bs-btn-bg);
  --bs-btn-hover-border-color: var(--bs-btn-border-color);

  --bs-btn-active-color: var(--bs-btn-color);
  --bs-btn-active-bg: var(--bs-btn-bg);
  --bs-btn-active-border-color: var(--bs-btn-border-color);

  --bs-btn-disabled-color: var(--bs-btn-color);
  --bs-btn-disabled-bg: var(--bs-btn-bg);
  --bs-btn-disabled-border-color: var(--bs-btn-border-color);

  --bs-border-radius: 100px;
}

.btn-link {
  --bs-link-color: var(--msde-white);
  --bs-link-hover-color: var(--msde-light-green);
  text-decoration: none;
}

/*
 * Custom accent button using msde-green as background.
*/
.btn-accent {
  --bs-btn-color: var(--msde-white);
  --bs-btn-bg: var(--msde-green);
  --bs-btn-border-color: var(--msde-green);

  --bs-btn-hover-color: var(--bs-btn-color);
  --bs-btn-hover-bg: color-mix(in srgb, rgb(var(--msde-green-rgb)) 90%, black);
  --bs-btn-hover-border-color: color-mix(in srgb, rgb(var(--msde-green-rgb)) 90%, black);

  --bs-btn-focus-shadow-rgb: var(--msde-green-rgb);

  --bs-btn-active-color: var(--bs-btn-color);
  --bs-btn-active-bg: color-mix(in srgb, rgb(var(--msde-green-rgb)) 80%, black);
  --bs-btn-active-border-color: color-mix(in srgb, rgb(var(--msde-green-rgb)) 80%, black);
}

/*
 * Custom accent button using relx-accent-subtle as background.
*/
.btn-accent-subtle {
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: var(--relx-accent-subtle);
  --bs-btn-border-color: var(--relx-accent-subtle);

  --bs-btn-hover-color: var(--bs-btn-color);
  --bs-btn-hover-bg: color-mix(in srgb, rgb(var(--relx-accent-subtle-rgb)) 90%, black);
  --bs-btn-hover-border-color: color-mix(in srgb, rgb(var(--relx-accent-subtle-rgb)) 90%, black);

  --bs-btn-focus-shadow-rgb: var(--relx-accent-subtle);

  --bs-btn-active-color: var(--bs-btn-color);
  --bs-btn-active-bg: color-mix(in srgb, rgb(var(--relx-accent-subtle-rgb)) 80%, black);
  --bs-btn-active-border-color: color-mix(in srgb, rgb(var(--relx-accent-subtle-rgb)) 80%, black);
}

/*
  Custom submit button
*/
form button.btn-primary {
  --bs-btn-color: var(--msde-white);
  --bs-btn-bg: var(--msde-green);
  --bs-btn-border-color: transparent;

  --bs-btn-hover-color: var(--bs-btn-color);
  --bs-btn-hover-bg: var(--bs-btn-bg);
  --bs-btn-hover-border-color: var(--bs-btn-border-color);

  --bs-btn-active-color: var(--bs-btn-color);
  --bs-btn-active-bg: var(--bs-btn-bg);
  --bs-btn-active-border-color: var(--bs-btn-border-color);

  --bs-btn-disabled-color: var(--bs-btn-color);
  --bs-btn-disabled-bg: var(--bs-btn-bg);
  --bs-btn-disabled-border-color: var(--bs-btn-border-color);

  --bs-border-radius: 8px;

  height: 44px;
}

/*
  Custom Yellow CTA
*/
.yellow-cta {
  --bs-btn-color: var(--msde-green);
  --bs-btn-bg: var(--msde-yellow);
  --bs-btn-border-color: var(--msde-green);

  height: 80px;
  width: 260px;
}

/*
  Custom msde guidelines "En-Tête"
*/
.gelica-display {
  font-family: 'Gelica', sans-serif;
  font-weight: 300;
}

/*
  Custom msde guidelines "Titres"
*/
.gelica {
  font-family: 'Gelica', sans-serif;
  font-weight: 700;
}

/*
  Overriding badges elements
*/
.badge {
  --bs-badge-padding-x: 0.75rem;
  --bs-badge-padding-y: 0.375rem;
  --bs-badge-font-weight: 500;

  &.badge-outline-green {
    --bs-badge-padding-x: 1.25rem;
    --bs-badge-padding-y: 0.5rem;
    background-color: transparent;
    color: var(--msde-white);
    border: 2px solid var(--relx-green-3);
  }
  &.badge-green {
    --bs-badge-padding-x: 1.25rem;
    --bs-badge-padding-y: 0.5rem;
    background-color: var(--relx-green-3);
    color: var(--msde-white);
    border: 2px solid var(--relx-green-3);
  }
}

/*
  Custom icons to replace phosphor items
*/
.msde-leaf-icon {
  height: 0.875em;
  width: 0.875em;
  vertical-align: baseline;
  flex-shrink: 0;
}

.summary-icon {
  height: 0.875em;
  width: 0.875em;
  vertical-align: center;
  flex-shrink: 0;
}
