/* Colour system */
:root {
  /* according to figma MSDE color styles */
  --relx-green-dark: #004449;
  --relx-green-base: #027f5f;
  --relx-orange-base: #ff9d02;
  --relx-yellow-base: #ffc300;
  --relx-green-900: #1e1f24;
  --relx-green-800: #083438;
  --relx-green-300: #cbf2e3;
  --relx-green-200: #e1f9ef;
  --relx-green-100: #f2fbf8;
  --relx-default-black: #000000;
  --relx-default-black-rgb: 0, 0, 0;
  --relx-default-white: #ffffff;
  --relx-gray-100: #f8f9fa;
  --relx-gray-200: #e9ecef;
  --relx-gray-300: #dee2e6;
  --relx-gray-400: #ced4da;
  --relx-gray-500: var(--relx-gray-400);
  --relx-gray-600: #6c757d;
  --relx-gray-700: #495057;
  --relx-gray-800: #343a40;
  --relx-gray-900: #212529;
  /* unnamed colours used in figma */
  --relx-custom-beige: #fcf9f0;
  --relx-custom-green: #007f5f;
  --relx-custom-drop-shadow: #0a0d1226;
  --relx-text-neutral-secondary: #5a5a5a;
  --relx-text-neutral-secondary-rgb: 108, 117, 125;
}

/* devOnly */
.dev-bg {
  background-color: magenta;
}

@font-face {
  font-family: 'Poppins';
  font-style: semi-bold;
  font-weight: 600;
  font-display: swap;
  src: url('/resources/fonts/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-style: medium;
  font-weight: 500;
  font-display: swap;
  src: url('/resources/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/resources/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-style: light;
  font-weight: 300;
  font-display: swap;
  src: url('/resources/fonts/Poppins-Light.ttf');
}

/* fonts */
@font-face {
  font-family: 'Gelica';
  font-style: bold;
  font-weight: 700;
  font-display: block;
  src: url('https://typographer.io/1/fonts/drt:gelica::bold@1.0.0/woff2?token=1654b22ac1');
}

@font-face {
  font-family: 'Gelica';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('https://typographer.io/1/fonts/drt:gelica::regular@1.0.0/woff2?token=cae9c278da');
}

@font-face {
  font-family: 'Gelica';
  font-style: light;
  font-weight: 300;
  font-display: block;
  src: url('https://typographer.io/1/fonts/drt:gelica::light@1.0.0/woff2?token=2098236b94');
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--relx-default-black);
}

/* override bs variables */
:root {
  --bs-dark-rgb: var(--relx-default-black);
  --bs-secondary-rgb: var(--relx-text-neutral-secondary-rgb);
}

.relx-bg-white {
  background-color: var(--relx-default-white);
}

.relx-bg-beige {
  background-color: var(--relx-custom-beige);
}

.relx-bg-yellow {
  background-color: var(--relx-yellow-base);
}

.relx-bg-green {
  background-color: var(--relx-custom-green);
}

.relx-text-display-bigger {
  font-family: Gelica;
  font-weight: 2.75rem;
  font-size: 2rem;
}

.relx-text-display {
  font-family: Gelica;
  font-weight: 400;
  font-size: 2rem;
}

.relx-text-display-light {
  font-family: Gelica;
  font-weight: 300;
  font-size: 1.5rem;
}

.relx-serif-text {
  font-family: Gelica;
  font-weight: 400;
  font-size: 1.25rem;
}

.relx-cta {
  border-radius: 0;
  border-color: var(--relx-gray-900);
  font-weight: 300;
  font-size: 1.5rem;
  box-shadow: 0 4px var(--relx-custom-drop-shadow);
  --bs-btn-hover-border-color: var(--relx-default-black);
}

.relx-accroche-p {
  padding: 112px 64px 112px 64px;
}

.relx-legende-part-x {
  flex: 0 0 40px;
  background: repeating-linear-gradient(
    90deg,
    transparent 0px,
    transparent 7px,
    var(--relx-default-black) 7px,
    var(--relx-default-black) 8px
  );
}

.relx-legende-part-y {
  flex: 0 0 40px;
  height: 48px;
  background: repeating-linear-gradient(
    0deg,
    transparent 0px,
    transparent 7px,
    var(--relx-default-black) 7px,
    var(--relx-default-black) 8px
  );
}

.relx-full-size-cropped-image {
  object-fit: cover;
  object-position: center bottom;
  border-radius: 0 !important;
}

.relx-sticker-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & span {
    background-color: var(--relx-green-900);
    color: var(--relx-default-white);

    &.relx-sticker-title-line-1 {
      transform: rotate(2deg);
    }

    &.relx-sticker-title-line-2 {
      transform: rotate(-1deg);
    }
  }
}

.relx-section-pourquoi {
  padding-top: 80px;
  padding-bottom: 120px;

  .relx-screenshot {
    margin: 0 150px;
  }

  .relx-section-pourquoi-text {
    max-width: 500px;
  }
}

.relx-section-contenu-bdd {
  overflow: hidden;

  .relx-section-contenu-bdd-text {
    padding: 120px;
    padding-right: 180px;
    overflow: hidden;
    color: var(--relx-default-white);
  }
  .relx-section-contenu-bdd-illustration {
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
  }
}
