<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Relaxes Pour Le Vivant
    </title>
    @include('partials/bootstrap')
  </head>

  <body class="bg-light">
    @include('partials/navbar')

    <div class="container mt-3">
      <h1>
        404 - Page non trouvée
      </h1>
    </div>

  </body>

</html>
