<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {{ env.get('APP_NAME') }}
    </title>
    @include('partials/bootstrap')
  </head>

  <body class="bg-light">
    @include('partials/navbar')

    <div class="container my-5">
      <h1>
        {{ error.code }} - Erreur serveur
      </h1>
    </div>

  </body>

</html>
