— L'équipe du MSDE<br />
👉 Nous découvrir : 
  <a href="https://msde-association.org/">Notre site</a>
<br />
🎨 Illustrations de procès et actus judiciaires : 
  <a href="https://www.instagram.com/msde.association/?hl=fr">Instagram</a>
et 
  <a
  href="https://fr.linkedin.com/company/mouvement-de-soutien-aux-d%C3%A9fenseur%C2%B7es-de-l-environnement"
>LinkedIn</a>
<br />
⚖️ Notre newsletter sur l'actu de la répression judiciaire : <a href="https://msde-association.org/newsletter/">A la barre pour le vivant</a>
<br />
🙏 Nous soutenir : 
  <a
  href="https://www.helloasso.com/associations/mouvement-de-soutien-aux-defenseur-es-de-l-environnement/formulaires/2"
>HelloAsso</a>

