<h1>Demande de mot de passe oublié</h1>
<p>
  Bonjour, une demande de réinitialisation de mot de passe a été faite concernant le compte {{ user.email }} sur la plateforme Relaxe Pour le Vivant.
</p>

<p>
  Si vous êtes bien à l'origine de cette demande, 
  <a href="http://localhost:3333/reset-password/{{ user.passwordToken }}/{{ user.email }}">
    cliquez sur ce lien
  </a>
  et suivez les instructions pour modifier votre mot de passe.
</p>

<p>
  Cet e-mail ne doit être transféré à quiconque.
</p>