<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Demande de mot de passe oublié
    </title>
  </head>

  <table width="100%" cellpadding="0" cellspacing="0" border="0" style="font-family: sans-serif;">
    <tr>
      <td align="center">
        <table width="600" cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td align="center">
              <img src="https://msde-association.org/wp-content/uploads/2025/07/LOGOTYPE_X2.png" />
            </td>
          </tr>
          <tr>
            <td>
              Demande de mot de passe oublié
            </td>
          </tr>
          <tr>
            <td>
              Bonjour, une demande de réinitialisation de mot de passe a été faite concernant le compte {{ user.email }} sur la plateforme Relaxe Pour le Vivant.
            </td>
          </tr>
          <tr>
            <td>
              Si vous êtes bien à l'origine de cette demande, 
                      <a href="http://localhost:3333/reset-password/{{ user.passwordToken }}/{{ user.email }}">
                cliquez sur ce lien
                      </a>
              et suivez les instructions pour modifier votre mot de passe.
            </td>
          </tr>
          <tr>
            <td>
              Le lien de réinitialisation est valide pendant 2 heures. Cet e-mail ne doit être transféré à quiconque.
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

</html>

