<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Détails d'audience - {{ env.get('APP_NAME') }}
    </title>
    @include('partials/bootstrap')
    <script defer src="{{ env.get('METABASE_URL') }}/app/embed.js">

    </script>
    <script>
      function defineMetabaseConfig(config) {
        window.metabaseConfig = config;
      }
    </script>
    <script>
      defineMetabaseConfig({
        theme: {
          preset: "light"
        },
        isGuest: true,
        instanceUrl: "{{ env.get('METABASE_URL') }}"
      });
    </script>
  </head>

  <body class="bg-light">
    @!navbar({ navbarTheme: 'dark' })
    @let (dateFormat = 'dd/MM/yyyy')

    <!-- Procedure information hero section -->
    <header class="text-bg-accent">
      <div class="container-md px-4 px-md-0 pb-5">
        <section class="hstack flex-wrap gap-2 justify-content-between py-4">
          <a
            href="{{ route('audiences.search') }}"
            class="d-inline-flex align-items-center gap-2 text-bg-accent text-decoration-none"
          >
            @svg('ph:arrow-left-bold', { width: 24, height: 24, class: 'flex-shrink-0' })
            Retour
          </a>
          <a
            href="mailto:{{ env.get('CONTACT_EMAIL') }}"
            class="d-inline-flex align-items-center gap-2 text-bg-accent text-decoration-none"
          >
            Compléter la procédure
            @svg('ph:question', { width: 24, height: 24, class: 'flex-shrink-0' })
          </a>
        </section>
        <section class="row gy-3">
          <section class="col-xl-3 vstack justify-content-between gap-4">
            <h1 class="h4 mb-0 text-yellow-1 fw-semibold">
              {{ procedure.titre }}
            </h1>
            <div class="vstack gap-2">
              @if (lastDecision)
                <div class="d-flex flex-column align-items-start gap-2">
                  <span
                    class="badge badge-green rounded-pill fw-medium lh-lg mw-100 text-truncate"
                    title="{{ lastDecision }}"
                  >{{ lastDecision }}</span>
                </div>
              @endif
              <div class="d-flex flex-column align-items-start gap-2">
                @each(collectif in procedure.collectif_d_action_ou_lutte)
                  <div
                    class="d-inline-flex align-items-center gap-2 badge badge-outline-green rounded-pill fw-medium lh-lg mw-100"
                  >
                    @svg('ph:flag-banner-fold', { width: 20, height: 20, class: 'flex-shrink-0' })
                    <span class="text-truncate" title="{{ collectif }}">{{ collectif }}</span>
                  </div>
                @end
              </div>

            </div>
            @if (liensPresse.length > 0)
              <div>
                <h2 class="h6 fw-semibold text-bg-accent">
                  <small>La presse en parle</small>
                </h2>
                <div class="vstack align-items-start gap-1">
                  @each (lienPresse in liensPresse)
                    @link({
                        url: lienPresse.url,
                        external: true
                    })
                      {{ lienPresse.titre }}
                    @end
                  @end
                </div>
              </div>
            @endif
          </section>

          <div class="col-xl-9">
            <div class="row g-1">
              <div class="col-lg-6 d-flex align-items-stretch">
                @heroSection({titre: 'Détails des faits', icon: 'ph:folder-open'})
                  <p class="mb-0 small">
                    @if (procedure.faits_detailles)
                      {{{ nl2br(procedure.faits_detailles) }}}
                    @else
                      @!emptyData()
                    @endif
                  </p>
                @end
              </div>
              <div class="col-lg-6 d-flex align-items-stretch">
                @heroSection({titre: 'Poursuites', icon: 'ph:scales'})
                  <p class="mb-0 small">
                    @if (procedure.poursuites)
                      {{{ nl2br(procedure.poursuites) }}}
                    @else
                      @!emptyData()
                    @endif
                  </p>
                @end
              </div>
            </div>
          </div>
        </section>
      </div>
    </header>
    <div class="container-md px-4 px-md-0 my-5">
      <section class="row gy-4">
        <div class="col-lg-3">
          <div class="row">
            <!-- Desktop menu -->
            <nav
              class="nav nav-audiences flex-column d-none d-lg-flex"
              aria-label="Liste des audiences de la procédure"
            >
              @each (audience in procedure.audiences)
                @let (isCurrent = currentAudience.id === audience.id)
                <a
                  class="nav-link {{ isCurrent ? 'active' : '' }} vstack gap-1 align-items-start w-100"
                  href="{{ route('audiences.show', { id: audience.id }) }}#audienceInformation"
                  {{{ isCurrent ? 'aria-current="page"' : '' }}}
                >
                  {{ audienceHelper.juridictionLabel(audience.juridiction, audience.ville_de_l_audience, audience.degre_de_juridiction) }}
                    <span class="nav-audiences-footer">
                    <small>{{ audienceHelper.dateLabel(audience.date_de_decision) }}</small>
                    @if (isCurrent)
                      <span class="nav-link-indicator"></span>
                    @endif
                  </span>
                </a>
              @end
            </nav>
            <!-- Mobile menu -->
            <div
              class="dropdown d-block d-lg-none"
              role="navigation"
              aria-label="Liste des audiences de la procédure"
            >
              <button
                class="btn btn-outline-dark dropdown-toggle w-100"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <span class="vstack gap-1 align-items-start">
                  {{ audienceHelper.juridictionLabel(currentAudience.juridiction, currentAudience.ville_de_l_audience, currentAudience.degre_de_juridiction) }}
                    <small>{{ audienceHelper.dateLabel(currentAudience.date_de_decision) }}</small>
                </span>
              </button>
              <ul class="dropdown-menu">
                @each (audience in procedure.audiences)
                  @let (isCurrent = currentAudience.id === audience.id)
                  <li>
                    <a
                      class="dropdown-item {{ isCurrent ? 'active' : '' }} vstack gap-1 align-items-start"
                      href="{{ route('audiences.show', { id: audience.id }) }}#audienceInformation"
                      {{{ isCurrent ? 'aria-current="page"' : '' }}}
                    >
                      {{ audienceHelper.juridictionLabel(audience.juridiction, audience.ville_de_l_audience, audience.degre_de_juridiction) }}
                    <small>{{ audienceHelper.dateLabel(audience.date_de_decision) }}</small>
                    </a>
                  </li>
                @end
              </ul>
            </div>
          </div>
          <div
            class="row d-none d-lg-block relx-contribution-block"
            style="background-image: url({{ asset('resources/images/fist.png') }});"
          >
            <p class="title">
              Aidez-nous à sourtenir les défenseur.es de l'environnement
            </p>
            <p>
              Aujourd'hui, pour continuer, nous avons besoin d'un coup de pouce financier.
            </p>
            <a class="btn btn-primary" href="{{ content.support_us_url }}">Soutenir la plateforme</a>
          </div>
        </div>
        <div class="col-lg-9" id="audienceInformation">
          @let (audience = currentAudience)
          {{-- For better accessibility hierarchy --}}
          <h2 class="visually-hidden">
            Détails de l'audience {{ audienceHelper.juridictionLabel(audience.juridiction, audience.ville_de_l_audience, audience.degre_de_juridiction) }} {{ audienceHelper.dateLabel(audience.date_de_decision)  }}
          </h2>
          <div class="d-flex flex-column gap-5">
            <div class="row g-3">
              <div class="col-lg-8 vstack gap-3 gap-lg-2">
                <div class="rounded text-bg-petrol-3 p-4 vstack gap-4 flex-grow-0">
                  <h3 class="mb-0 hstack gap-1 text-bg-petrol-3 small">
                    @svg('ph:scales', {width: 16, height: 16, class: 'flex-shrink-0'})
                    Chefs de prévention
                  </h3>
                  <div>
                    <p class="mb-0">
                      @if (audience.chefs_de_prevention_categorie?.length > 0)
                        {{ audience.chefs_de_prevention_categorie.join(', ') }}
                      @else
                        @!emptyData()
                      @endif
                    </p>
                    @if (audience.chefs_de_prevention_sous_categorie?.length > 0)
                      <ul class="mb-0">
                        @each (sousCategorie in audience.chefs_de_prevention_sous_categorie)
                          <li>
                            {{ sousCategorie }}
                          </li>
                        @end
                      </ul>
                    @endif
                  </div>
                </div>
                <div class="rounded text-bg-gray p-4 vstack gap-4">
                  <h3 class="mb-0 hstack gap-1 text-blue-green fw-semibold small">
                    @svg('ph:gavel',{width: 16, height: 16, class: 'flex-shrink-0'})
                    Détails de la décision
                  </h3>
                  <p class="mb-0">
                    @if (audience.details_de_la_decision_pour_les_infractions_principales)
                      {{{ nl2br(audience.details_de_la_decision_pour_les_infractions_principales) }}}
                    @else
                      <span class="fst-italic text-muted">La décision n'a pas encore été rendue publique.</span>
                    @endif
                  </p>
                  @if (audience.extrait_de_la_decision)
                    <p class="mb-0 ps-4 border-start border-4 border-blue-green-2 fst-italic">
                      {{ audience.extrait_de_la_decision }}
                    </p>
                  @endif
                  @if (audience.mots_cles?.length > 0)
                    <section class="hstack gap-3 flex-wrap small mt-auto">
                      @each(motCle in audience.mots_cles)
                        <span class="text-petrol-2 text-uppercase fw-semibold">#{{ motCle }}</span>
                      @end
                    </section>
                  @endif
                </div>
              </div>
              <div class="col-lg-4">
                <section
                  class="jugement-section rounded text-bg-yellow-1 h-100 d-flex flex-row-reverse flex-lg-column flex-wrap"
                >
                  <img
                    src="{{ asset('resources/images/jugement_pen.svg') }}"
                    class="align-self-end"
                    alt=""
                    role="presentation"
                  />
                  <div class="my-auto mt-lg-auto mb-lg-0 vstack gap-3">
                    @if (audience.decision_pour_les_infractions_principales)
                      <h3 class="mb-0 h4 fw-semibold">
                        {{ audience.decision_pour_les_infractions_principales }}
                      </h3>
                    @endif
                    @let (jugementFiles = audience.jugement_ou_arret)
                    @each((jugement, index) in (jugementFiles))
                      @downloadButton({
                                  file: jugement,
                                  filePosition: (jugementFiles.length > 1) ? index+1 : undefined,
                                  url:  route('audiences.jugements', [audience.id, jugement.id]),
                                  class: 'align-self-start align-self-lg-center'
                      })
                        Télécharger le jugement
                      @end
                    @end
                    @if (audience.recit_d_audience?.length > 0)
                      <a
                        href="mailto:{{ env.get('CONTACT_EMAIL') }}"
                        class="btn btn-sm btn-link text-bg-yellow-1 align-self-start align-self-lg-center d-inline-flex gap-1"
                      >
                        @svg('ph:envelope-simple', {width: 16, height: 16, class: 'flex-shrink-0'})
                        Demander le récit d'audience
                      </a>
                    @end
                  </div>
                </section>
              </div>
              <div class="col-12">
                <section class="rounded d-flex flex-column-reverse flex-sm-row pt-4 px-4 gap-5 border">
                  <picture class="align-self-end">
                    <source srcset="{{ asset('resources/images/commentaire_msde_presentation.webp') }}" type="image/webp" />
                    <img
                      class="position-relative"
                      height="128"
                      style="max-height: 128px; width: auto;"
                      src="{{ asset('resources/images/commentaire_msde_presentation.png') }}"
                      alt=""
                      role="presentation"
                    />
                  </picture>

                  <hgroup class="align-self-start pb-0 pb-sm-4">
                    <h3 class="hstack gap-1 text-blue-green fw-semibold small">
                      <img
                        class="flex-shrink-0"
                        style="width: 1em; height: 1em;"
                        src="{{ asset('resources/images/msde_icon.svg') }}"
                        alt=""
                        role="presentation"
                      />
                      Commentaire MSDE
                    </h3>
                    <p class="col-12 col-lg-10 mb-0 fst-italic">
                      @if (audience.commentaire_msde)
                        "{{ audience.commentaire_msde }}"
                      @else
                        @!emptyData()
                      @endif
                    </p>
                  </hgroup>
                </section>
              </div>
            </div>
            @if(metabaseToken && audience.chefs_de_prevention_categorie.length)
              <section class="rounded border p-4" aria-labelledby="graph-evolution-condamnations-heading">
                <h3 class="small" id="graph-evolution-condamnations-heading">
                  Évolution des condamnations pour ce chef de prévention
                </h3>
                <p class="small">
                  <!--TODO: handle En savoir plus link or remove + check if title should remain static -->
                  En france, entre 2014 et 2026 <span class="small text-muted">Le score de gravité est un indice MSDE. En savoir plus</span>
                </p>
                <metabase-question token="{{ metabaseToken }}" with-title="false">
                </metabase-question>
              </section>
            @endif
            <div class="row g-5">
              <section class="col-12 vstack gap-3" aria-labelledby="section-informations-generales-heading">
                <h3 id="section-informations-generales-heading" class="h5 fw-semibold mb-0">
                  Informations générales
                </h3>
                <div class="rounded border text-gray-2 p-4 vstack gap-4">
                  <h4 class="mb-0 hstack gap-1 text-blue-green fw-semibold small">
                    @svg('ph:scales', {width: 16, height: 16, class: 'flex-shrink-0'})
                    Résumé de l’audience
                  </h4>
                  <p class="mb-0">
                    @if (audience.resume_de_l_audience)
                      @if(audience.resume_de_l_audience.length >= 1500)
                        @longParagraphe({ id: 'resume_de_l_audience' })
                          @slot('text')
                            {{{ nl2br(audience.resume_de_l_audience) }}}
                          @end
                        @end
                      @else
                        {{{ nl2br(audience.resume_de_l_audience) }}}
                      @end
                    @else
                      @!emptyData()
                    @endif
                  </p>
                </div>
                <dl class="row g-4">
                  <dt class="col-sm-3">
                    Date de la décision
                  </dt>
                  <dd class="col-sm-9">
                    @if (audience.date_de_decision)
                      {{ audience.date_de_decision.toFormat('dd/MM/yyyy') }}
                    @else
                      @!emptyData()
                    @endif
                  </dd>
                  <dt class="col-sm-3">
                    Référence de la décision
                  </dt>
                  <dd class="col-sm-9">
                    @if (audience.reference_de_la_decision)
                      {{ audience.reference_de_la_decision }}
                    @else
                      @!emptyData()
                    @endif
                  </dd>
                  <dt class="col-sm-3">
                    Ville de l'audience
                  </dt>
                  <dd class="col-sm-9">
                    @if (audience.ville_de_l_audience)
                      {{ audience.ville_de_l_audience }}
                    @else
                      @!emptyData()
                    @endif
                  </dd>
                  <dt class="col-sm-3">
                    Juridiction
                  </dt>
                  <dd class="col-sm-9">
                    @if (audience.juridiction)
                      {{ audience.juridiction }}
                    @else
                      @!emptyData()
                    @end
                  </dd>
                  <dt class="col-sm-3">
                    Numéro de chambre
                  </dt>
                  <dd class="col-sm-9">
                    @if (audience.numero_de_chambre)
                      {{ audience.numero_de_chambre }}
                    @else
                      @!emptyData()
                    @endif
                  </dd>
                </dl>
              </section>
              <section class="col-12 vstack gap-3" aria-labelledby="section-defense-heading">
                <h3 id="section-defense-heading" class="h5 fw-semibold mb-0">
                  Défense
                </h3>
                <dl class="row g-4">
                  <dt class="col-sm-3">
                    Nombre de prévenu·es
                  </dt>
                  <dd class="col-sm-9">
                    @if (audience.nombre_de_prevenus)
                      {{ audience.nombre_de_prevenus }}
                    @else
                      @!emptyData()
                    @endif
                  </dd>
                  <dt class="col-sm-3">
                    Plaidoirie de la défense
                  </dt>
                  <dd class="col-sm-9">
                    @if (audience.plaidoirie_de_la_defense)
                      {{{ nl2br(audience.plaidoirie_de_la_defense) }}}
                    @else
                      @!emptyData()
                    @endif
                  </dd>
                </dl>
              </section>
              <section class="col-12 vstack gap-3" aria-labelledby="section-accusation-partie-civile-heading">
                <h3 id="section-accusation-partie-civile-heading" class="h5 fw-semibold mb-0">
                  Accusation et Partie civile
                </h3>
                <dl class="row g-4">
                  <dt class="col-sm-3">
                    Réquisitions du parquet
                  </dt>
                  <dd class="col-sm-9">
                    @if (audience.requisitions)
                      {{{ nl2br(audience.requisitions) }}}
                    @else
                      @!emptyData()
                    @endif
                  </dd>
                  <dt class="col-sm-3">
                    Nom des parties civiles
                  </dt>
                  <dd class="col-sm-9">
                    @if (audience.noms_des_parties_civiles)
                      {{ audience.noms_des_parties_civiles }}
                    @else
                      @!emptyData()
                    @endif
                  </dd>
                  <dt class="col-sm-3">
                    Demande des parties civiles
                  </dt>
                  <dd class="col-sm-9">
                    @if (audience.demande_des_parties_civiles)
                      {{{ nl2br(audience.demande_des_parties_civiles) }}}
                    @else
                      @!emptyData()
                    @endif
                  </dd>
                </dl>
              </section>
              <section class="col-12 vstack gap-3" aria-labelledby="section-decision-heading">
                <h3 id="section-decision-heading" class="h5 fw-semibold mb-0">
                  Décision
                </h3>
                <dl class="row g-4">
                  <dt class="col-sm-3">
                    Date de la décision
                  </dt>
                  <dd class="col-sm-9">
                    @if (audience.date_de_decision)
                      {{ audience.date_de_decision.toFormat('dd/MM/yyyy') }}
                    @else
                      @!emptyData()
                    @endif
                  </dd>
                  <dt class="col-sm-3">
                    Décision pour les infractions principales
                  </dt>
                  <dd class="col-sm-9">
                    @if (audience.decision_pour_les_infractions_principales)
                      {{ audience.decision_pour_les_infractions_principales }}
                    @else
                      @!emptyData()
                    @endif
                  </dd>
                  <dt class="col-sm-3">
                    Fondement de la relaxe
                  </dt>
                  <dd class="col-sm-9">
                    @if (audience.fondement_de_la_relaxe)
                      {{ audience.fondement_de_la_relaxe }}
                    @else
                      @!emptyData()
                    @endif
                  </dd>
                  <dt class="col-sm-3">
                    Détails de la décision pour les infractions principales
                  </dt>
                  <dd class="col-sm-9">
                    @if (audience.details_de_la_decision_pour_les_infractions_principales)
                      {{{ nl2br(audience.details_de_la_decision_pour_les_infractions_principales) }}}
                    @else
                      @!emptyData()
                    @endif
                  </dd>
                  <dt class="col-sm-3">
                    Détails des peines pour les infractions principales
                  </dt>
                  <dd class="col-sm-9">
                    @if (audience.details_des_peines_pour_les_infractions_principales)
                      {{{ nl2br(audience.details_des_peines_pour_les_infractions_principales) }}}
                    @else
                      @!emptyData()
                    @endif
                  </dd>
                  <dt class="col-sm-3">
                    Décision et peines pour les infractions subies ou incidentes
                  </dt>
                  <dd class="col-sm-9">
                    @if (audience.decision_et_peines_pour_les_infractions_subies_ou_incidentes)
                      {{ audience.decision_et_peines_pour_les_infractions_subies_ou_incidentes }}
                    @else
                      @!emptyData()
                    @endif
                  </dd>
                  <dt class="col-sm-3">
                    Inscription au casier
                  </dt>
                  <dd class="col-sm-9">
                    @if (audience.inscription_au_casier_judiciaire)
                      {{ audience.inscription_au_casier_judiciaire }}
                    @else
                      @!emptyData()
                    @endif
                  </dd>
                  <dt class="col-sm-3">
                    Dommages et intérêts
                  </dt>
                  <dd class="col-sm-9">
                    @if (audience.dommages_et_interets === true)
                      @if (audience.detail_des_dommages_et_interets)
                        {{{ nl2br(audience.detail_des_dommages_et_interets) }}}
                      @else
                        Oui
                      @endif
                    @elseif (audience.dommages_et_interets === false)
                      Non
                    @else
                      @!emptyData()
                    @endif
                  </dd>
                </dl>
              </section>
              <section class="col-12 vstack gap-3" aria-labelledby="section-appel-heading">
                <h3 id="section-appel-heading" class="h5 fw-semibold mb-0">
                  Appel
                </h3>
                <dl class="row g-4">
                  <dt class="col-sm-3">
                    Appel d'une des parties
                  </dt>
                  <dd class="col-sm-9">
                    @if (audience.appel_d_une_des_parties)
                      {{ audience.appel_d_une_des_parties ? 'Oui' : 'Non' }}
                    @else
                      @!emptyData()
                    @endif
                  </dd>
                  <dt class="col-sm-3">
                    Partie de l'appel principal
                  </dt>
                  <dd class="col-sm-9">
                    @if (audience.partie_de_l_appel_principal)
                      {{ audience.partie_de_l_appel_principal }}
                    @else
                      @!emptyData()
                    @endif
                  </dd>
                  <dt class="col-sm-3">
                    Partie de l'appel incident
                  </dt>
                  <dd class="col-sm-9">
                    @if (audience.partie_de_l_appel_incident)
                      {{ audience.partie_de_l_appel_incident }}
                    @else
                      @!emptyData()
                    @endif
                  </dd>
                </dl>
              </section>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</body>
</html>
