<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {{ env.get('APP_NAME') }}
    </title>
    @include('partials/public_bootstrap')
  </head>

  <body>
    <header class="mx-0 mx-md-4 relx-bg-white">
      <div class="row m-0 border border-bottom-0 border-dark d-none d-md-flex">
        <div class="col-12 d-flex justify-content-end gap-4 relx-header-links">
          <a href="{{ content.msde_url }}" target="_blank" rel="noopener noreferrer">Le site msde</a>
          <a href="mailto:{{ env.get('CONTACT_EMAIL') }}">Contactez nous</a>
        </div>
      </div>
      @include('partials/navbar')
    </header>

    <main class="mx-md-4">
      <h1 class="visually-hidden">
        Bienvenue sur {{ env.get('APP_NAME') }}
      </h1>

      <section class="relx-bg-white relx-default-section-first border border-dark border-top-0">
        <div class="row m-0">
          <div class="col-12 d-flex flex-column align-items-center gap-3">
            <h2 class="relx-sticker-title my-2 d-flex flex-column align-items-center fs-1 mb-5">
              <span class="relx-ro-2 py-2 px-3 mb-1">Contribuer à</span>
              <span class="relx-ro-4 py-2 px-3">Relaxes pour le vivant</span>
            </h2>

            <p class="m-0 relx-text-display fw-bold text-center">
              Héritier•es de nombreuses pratiques militantes, nous souhaitons contribuer aux luttes d’émancipation qui se jouent sur plusieurs générations.
            </p>
            <p class="m-0 relx-serif-text fs-2 text-center mb-5">
              Vos contributions assurent la pérénité d'un projet qui renforce la défense des militant.es par une approche systématique et qualitative tant pour les équipes juridiques que pour les chercheur.es et journalistes.
            </p>
          </div>
        </div>
      </section>

      <section class="relx-bg-beige border border-top-0 border-dark relx-contribution-section-aide">
        <div class="row m-0 text-secondary">
          <div class="col-12 col-lg-6 pe-lg-5 mb-5 mb-lg-0 p-0">
            <h2 class="m-0 relx-text-display fw-bold mb-3">
              Financement de la plateforme :
            </h2>
            <p class="m-0 relx-serif-text mb-3">
              Si vous désirez contribuer à la pérennisation de notre travail et de cette plate-forme des dons, réguliers ou ponctuels sont les bienvenus via HelloAsso.
            </p>
            <p class="m-0 relx-serif-text">
              Le budget actuel du projet (en 2025) s'élève à environ 34k€ :
            </p>
            <ul class="m-0 relx-serif-text">
              <li>
                4 000 € de défraiements pour des déplacements
              </li>
              <li>
                2 000 € de frais fixes et de matériels
              </li>
              <li>
                2 000 € pour des événements
              </li>
              <li>
                26 000 € de rémunérations de 2 personnes à temps plein.
              </li>
            </ul>
          </div>
          <div
            class="col-12 col-lg-6 ps-lg-5 p-0 d-flex flex-column align-items-center align-items-lg-end justify-content-center justify-content-lg-between  gap-4"
          >
            <a
              href="{{ content.support_us_url }}"
              target="_blank"
              rel="noopener noreferrer"
              class="btn relx-cta relx-bg-yellow p-3 p-lg-4 d-inline-flex align-items-center gap-3"
            >
              <p class="m-0 text-nowrap">
                Participer à la cagnotte
              </p>
              <img src="{{ asset('resources/images/cta_arrow.svg') }}" alt="" aria-hidden="true" />
            </a>
            {{-- no efforts for this mailto link: comments on figma tend to make this section disapearing  --}}
            <p class="m-0 relx-serif-text text-lg-end fs-5">
              Des suggestions de financeurs peuvent nous être envoyés à : <a href="mailto:msde_juridique@proton.me">msde_juridique
                @proton.me
              </a>
            </p>
          </div>
        </div>
      </section>

      <section class="relx-bg-beige border border-top-0 border-dark relx-contribution-section-aide">
        <div class="row m-0 text-secondary">
          <div class="col-12 col-lg-6 pe-lg-5 mb-5 mb-lg-0 p-0">
            <h2 class="m-0 relx-text-display fw-bold mb-3">
              Contribuer à la base de données :
            </h2>
            <p class="m-0 relx-serif-text mb-3">
              Cette base de données n'existe que parce que des personnes signalent au MSDE des procès, prennent le temps de nous transmettre des informations détaillées et nous confient des documents.
            </p>
            <p class="m-0 relx-serif-text">
              N'hésitez donc pas :
            </p>
            <ul class="m-0 relx-serif-text">
              <li>
                à nous signaler des procédures intéressantes à connaître
              </li>
              <li>
                à nous transmettre des jurisprudences que nous anonymiserons
              </li>
              <li>
                à venir nous aider à compléter les informations manquantes
              </li>
            </ul>
          </div>
          <div
            class="col-12 col-lg-6 ps-lg-5 p-0 d-flex flex-column align-items-center align-items-lg-end justify-content-center justify-content-lg-between  gap-4"
          >
            <a
              href="#"
              rel="noopener noreferrer"
              class="btn relx-cta relx-bg-gray p-3 p-lg-4 d-inline-flex align-items-center gap-3 pe-none"
            >
              <p class="m-0 text-nowrap">
                Compléter les informations
              </p>
              <img src="{{ asset('resources/images/cta_arrow.svg') }}" alt="" aria-hidden="true" />
            </a>
            {{-- never heard of this feature for the app... personnal appreciation here --}}
            <p class="m-0 relx-serif-text text-lg-end fs-5">
              Les fonctionnalités de contribution à la base de données ne sont pas encore disponibles
            </p>
          </div>
        </div>
      </section>

      <section class="relx-bg-white border border-top-0 border-dark relx-contribution-section-projet">
        <div class="row m-0 mb-md-5">
          <div class="col-12 p-0">
            <h2 class="relx-sticker-title my-2 d-flex flex-column align-items-start">
              <span class="relx-ro-3 py-2 px-3">Qui porte le projet ?</span>
            </h2>
          </div>
        </div>
        <div class="row m-0 mt-4">
          <div class="col-12 col-md-6 pe-md-5 mb-5 mb-md-0 p-0">
            <p class="m-0 relx-serif-text fw-bold mb-3">
              Cette base de données se situe au croisée de pratiques de défenses politiques et de mises en commun de ressources.
            </p>
            <p class="m-0 relx-serif-text">
              Ce projet est coordonné par des membres du MSDE qui font un travail continu de recueil des données. Ces informations sont souvent transmises par des avocat.es, des équipes juridiques et des prévenu.es qui nous font confiance.
            </p>
          </div>
          <div class="col-12 col-md-6 ps-md-5 p-0">
            <p class="m-0 relx-serif-text mb-3">
              Le financement est assuré par des dons de particuliers mais a été porté largement par 1 % pour la planète et Patagonia.
            </p>
            <p class="m-0 relx-serif-text">
              Et le développement a été fait avec joie et professionnalisme par une magnifique équipe issue de Data for Good 💚
            </p>
          </div>
        </div>
      </section>

      <section class="relx-bg-yellow relx-default-section-last border border-top-0 border-dark">
        <div class="container-fluid p-0">
          <div class="row m-0">
            <img src="{{ asset('resources/images/team.png') }}" alt="équipe" />
          </div>
        </div>
      </section>
    </main>

    @include('components/footer')

  </body>

</html>
