@pushOnceTo('components')
  <script type="module">
    // strip wc-datepicker unwanted month and year form values, see: https://github.com/Sqrrl/wc-datepicker/issues/62
    document.querySelector("form#search").addEventListener("formdata", function(event) {
      event.formData.delete("month");
      event.formData.delete("year");
    });
  </script>
@end

<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Liste d'audiences - {{ env.get('APP_NAME') }}
    </title>
    @include('partials/bootstrap')
  </head>

  <body class="bg-light">
    @include('partials/navbar')
    @let (dateFormat = 'dd.MM.yyyy')

    <!-- Hidden - Accessibilité - Titre principal -->
    <h1 class="visually-hidden">
      Liste des audiences
    </h1>

    <div class="container my-5">
      <form id="search" class="mb-3" method="GET">
        <div class="row gx-2">
          <div class="col-3">
            <input
              name="search"
              value="{{ searchQuery.search ?? '' }}"
              class="form-control"
              placeholder="Faits, chef de prévention..."
              type="text"
              autocomplete="off"
            />
          </div>
          <div class="col-3">
            @!component('components/date_range_picker', {
            name: 'dateDeLaDecision',
            label: 'Date de la décision',
            value: searchQuery.dateDeLaDecision ?? []
            })
          </div>
          <div class="col-3">
            @!component('components/multi_select', {
              name: 'chefDePrevention',
              label: 'Chef de prévention',
              options: chefDePreventionCategories.map(c => c.intitule),
              selected: searchQuery.chefDePrevention ?? '',
              data: { ['data-more-filters-input']: "chefDePrevention" }
            })
          </div>
          <div class="col-2">
            @!component('components/more_filters', { searchQuery, villes, juridictions, collectifs })
          </div>
          <div class="col-1">
            <button class="btn btn-primary" type="submit" style="background-color: #0d6efd; height: 38px;">
              {{ svg('ph:magnifying-glass') }}
            </button>
          </div>
        </div>
      </form>

      <!-- Hidden - Accessibilité : Annonce du nombre de résultats trouvés -->
      <div aria-live="polite" aria-atomic="true" class="visually-hidden">
        @if (audiences.length === 0)
          Aucun résultat trouvé.
        @elseif (audiences.length === 1)
          1 résultat trouvé.
        @else
          {{ audiences.length }} résultats trouvés.
        @endif
      </div>

      @if (audiences.length === 1)
        <p>
          1 résultat trouvé:
        </p>
      @elseif (audiences.length > 1)
        <p>
          {{ audiences.length }} résultats trouvés:
        </p>
      @endif
      
      @if (audiences.length > 0)
        <div class="vstack gap-4">
          @each(audience in audiences)
            <div class="card rounded-5">
              <div class="card-body">
                <div class="row m-1 gy-3 gy-lg-0">
                  <div class="col-lg-5 vstack gap-4 justify-content-center align-items-start">
                    <h2 class="card-title fs-4">
                      {{ audience.titre }}
                    </h2>
                    @if(audience.decision_pour_les_infractions_principales)
                      <span class="badge rounded-pill text-bg-purple">
                        {{ audience.decision_pour_les_infractions_principales }}
                      </span>
                    @endif
                    <div class="row">
                      <p class="mb-1 d-flex align-items-center gap-1">
                        @svg('ph:calendar-dot-fill')
                        Audience : {{ DateTime.fromJSDate(audience.date_de_l_audience).toFormat(dateFormat) }}
                      </p>
                      @if(audience.juridiction && audience.ville_de_l_audience)
                        <p class="mb-1 d-flex align-items-center gap-1">
                          @svg('ph:bank-fill')
                          {{ audience.juridiction }} de <span class="text-capitalize">{{ audience.ville_de_l_audience.toLowerCase() }}</span>
                        </p>
                      @elseif(audience.juridiction || audience.ville_de_l_audience)
                        <p class="mb-1 d-flex align-items-center gap-1">
                          @svg('ph:bank-fill')
                          {{ audience.juridiction }}<span class="text-capitalize">{{ audience.ville_de_l_audience.toLowerCase() }}</span>
                        </p>
                      @endif
                      @if(audience.chefs_de_prevention_categorie)
                        <p class="mb-1 d-flex align-items-center gap-1">
                          @svg('ph:scales-fill')
                          {{ audience.chefs_de_prevention_categorie }}
                        </p>
                      @endif
                      @if(audience.type_de_peine_pour_les_infractions_principales)
                        <p class="mb-1 d-flex align-items-center gap-1">
                          @svg('ph:gavel-fill')
                          {{ audience.type_de_peine_pour_les_infractions_principales }}
                        </p>
                      @endif
                    </div>
                    <div class="d-flex flex-column align-items-start gap-2">
                      <span class="badge rounded-pill border text-secondary">
                        {{ audience.fondement_de_la_relaxe }}
                      </span>
                      <span class="badge rounded-pill border text-secondary">
                        {{ audience.collectif_d_action_ou_lutte }}
                      </span>
                    </div>
                  </div>

                  <div class="col-lg-7 d-flex flex-column gap-2">
                    <div class="row bg-gray rounded-3 p-3">
                      <div class="col-lg-5 d-flex flex-column gap-1 px-0 mb-3 mb-lg-0">
                        <h3 class="text-purple small d-flex align-items-center gap-1">
                          @svg('ph:gavel-fill')
                          Faits et chronologie
                        </h3>
                        <p class="small fw-normal mb-0">
                          @if(audience.resume_de_l_audience)
                            <em>"{{ audience.resume_de_l_audience }}"</em>
                          @else
                            Aucune information
                          @endif
                        </p>
                      </div>
                      <div class="col-lg-7 d-flex justify-content-center justify-content-lg-end align-items-center">
                        @!component('components/timeline', { data: audience.timeline, current: audience.id })
                      </div>
                    </div>
                    <div class="row bg-gray rounded-3 p-3">
                      <div class="col-12 d-flex flex-column gap-1 px-0">
                        <h3 class="text-purple small d-flex align-items-center gap-1">
                          <img class="summary-icon" src="{{ asset('resources/images/summary_icon.svg') }}" alt="summary icon" />Extrait de la décision
                        </h3>
                        <p class="small fw-normal mb-0">
                          @if(audience.extrait_de_la_decision)
                            <em>"{{ audience.extrait_de_la_decision }}"</em>
                          @else
                            Aucune information
                          @endif
                        </p>
                      </div>
                    </div>
                    <div class="row bg-gray rounded-3 p-3">
                      <div class="col-12 d-flex flex-column gap-1 px-0">
                        <h3 class="text-purple small d-flex align-items-center gap-1">
                          <img
                            class="msde-leaf-icon me-1"
                            src="{{ asset('resources/images/msde_icon_purple.svg') }}"
                            alt="msde leaf"
                          />Commentaire MSDE
                        </h3>
                        <p class="small fw-normal mb-0">
                          @if(audience.commentaire_msde)
                            {{ audience.commentaire_msde }}
                          @else
                            Aucune information
                          @endif
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          @end
        </div>
        <nav class="mt-3">
          <ul class="pagination">
            @each(pagination in paginations)
              <li class="page-item">
                <a href="{{ pagination.url }}" class="page-link">{{ pagination.page }}</a>
              </li>
            @end
          </ul>
        </nav>
      @else
        @search.emptyResult()
        @end
      @endif
    </div>

  </body>

</html>
