<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Liste d'audiences - Relaxes Pour Le Vivant
    </title>
    @include('partials/bootstrap')
  </head>

  <body class="bg-light">
    @include('partials/navbar')

    <div class="container mt-3">
      <form class="mb-3" method="GET">
        <div class="row">
          <div class="col-10">
            <input
              name="search"
              value="{{ searchQuery.search ?? '' }}"
              class="form-control"
              placeholder="Faits"
              type="text"
              autocomplete="off"
            />
          </div>
          <div class="col">
            <input class="btn btn-primary" type="submit" value="Rechercher" />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <input
              name="startDate"
              value="{{ searchQuery.startDate ?? '' }}"
              id="startDate"
              class="form-control"
              type="date"
            />
          </div>
          <div class="col-auto">
            <label class="col-form-label">➜</label>
          </div>
          <div class="col">
            <input
              name="endDate"
              value="{{ searchQuery.endDate ?? '' }}"
              id="endDate"
              class="form-control"
              type="date"
            />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <select name="decision" class="form-select">
              <option value="" {{ searchQuery.decision==="" ? "selected" : "" }}>
                Décision
              </option>
              <option value="Condamnable" {{ searchQuery.decision==="Condamnable" ? "selected" : "" }}>
                Condamnable
              </option>
              <option value="Relaxe" {{ searchQuery.decision==="Relaxe" ? "selected" : "" }}>
                Relaxe
              </option>
            </select>
          </div>
          <div class="col">
            <select name="juridiction" class="form-select">
              <option value="" {{ searchQuery.juridiction==="" ? "selected" : "" }}>
                Juridiction
              </option>
              <option value="Tribunal de police" {{ searchQuery.juridiction==="Tribunal de police" ? "selected" : "" }}>
                Tribunal de police
              </option>
              <option
                value="Tribunal correctionnel"
                {{ searchQuery.juridiction==="Tribunal correctionnel" ? "selected"
              : "" }}
              >
                Tribunal correctionnel
              </option>
              <option value="Cour d’appel" {{ searchQuery.juridiction==="Cour d’appel" ? "selected" : "" }}>
                Cour d’appel
              </option>
              <option value="Cour de cassation" {{ searchQuery.juridiction==="Cour de cassation" ? "selected" : "" }}>
                Cour de cassation
              </option>
            </select>
          </div>
          <div class="col">
            <select name="chefDePrevention" class="form-select">
              <option value="" {{ searchQuery.chefDePrevention==="" ? "selected" : "" }}>
                Chef de prévention
              </option>
              @each(chefDePrevention in [])
                <option
                  value="{{ chefDePrevention.nom }}"
                  {{ searchQuery.chefDePrevention===chefDePrevention.nom
              ? "selected" : "" }}
                >
                  {{ chefDePrevention.nom }}
                </option>
              @end
            </select>
          </div>
          <div class="col">
            <select name="ville" class="form-select">
              <option value="" {{ searchQuery.ville==="" ? "selected" : "" }}>
                Ville
              </option>
              @each(ville in villes)
                <option value="{{ ville.nom }}" {{ searchQuery.ville===ville.nom ? "selected" : "" }}>
                  {{ ville.nom }}
                </option>
              @end
            </select>
          </div>
          <div class="col">
            <select name="collectif" value="{{ searchQuery.collectif }}" class="form-select">
              <option value="" {{ searchQuery.collectif==="" ? "selected" : "" }}>
                Collectif d'action
              </option>
              @each(collectif in collectifs)
                <option value="{{ collectif.nom }}" {{ searchQuery.collectif===collectif.nom ? "selected" : "" }}>
                  {{ collectif.nom }}
                </option>
              @end
            </select>
          </div>
        </div>
      </form>

      @if (audiences.length > 1 )
        <p>
          {{ audiences.length }} résultats trouvés:
        </p>
      @else
        <p>
          {{ audiences.length === 1 ? "1 résultat trouvé:" : "Aucun résultat trouvé." }}
        </p>
      @endif
        
      @each(audience in audiences)
        <div class="card rounded-5">
          <div class="card-body">
            <div class="row">
              <div class="col-5 vstack gap-4 justify-content-center align-items-start">
                <h2 class="card-title">
                  Blocage de l'autoroute A6 par des militant·es écologistes
                </h2>
                <span class="badge rounded-pill text-bg-purple">
                  Condamnation
                </span>
                <div class="row">
                  <p class="mb-0">
                    <i class="ph-fill ph-calendar-dot"></i>11.05.2023
                  </p>
                  <p class="mb-0">
                    <i class="ph-fill ph-bank"></i>Tribunal correctionnel de Paris
                  </p>
                  <p class="mb-0">
                    <i class="ph-fill ph-scales"></i>Entrave à la circulation
                  </p>
                  <p class="mb-0">
                    <i class="ph-fill ph-gavel"></i>35 heures de travail d'intérêt général
                  </p>
                </div>
                <div class="d-flex flex-column align-items-start gap-2">
                  <span class="badge rounded-pill border text-secondary">
                    Relaxe pour liberté d'expression
                  </span>
                  <span class="badge rounded-pill border text-secondary">
                    Collectif Dernière Rénovation
                  </span>
                </div>
              </div>

              <div class="col-7 d-flex flex-column gap-3">
                <div class="row bg-gray rounded-3">
                  <div class="col-5 d-flex flex-column gap-3">
                    <h3 class="text-purple">
                      <i class="ph-fill ph-folder-open"></i>Faits et chronologie
                    </h3>
                    <p>
                      Action de blocage de l'autoroute A6, le 28 octobre 2022 par des militant·es du collectif Dernière Rénovation.
                    </p>
                  </div>
                  <div class="col-7 d-flex flex-column gap-3">
                    <pre>
                      //insert timeline here
                    </pre>
                  </div>
                </div>
                <div class="row bg-gray rounded-3">
                  <div class="col-12 d-flex flex-column gap-3">
                    <h3 class="text-purple">
                      <i class="ph-fill ph-note"></i>Extrait de la décision
                    </h3>
                    <p>
                      "La cour considère ainsi que l'infraction d'entrave à la circulation retenue par le tribunal de Créteil constitue une atteinte disproportionnée à la liberté d'expression des prévenus qui ont mené une action militante, pacifique, responsable, de blocage de l'autoroute A6 ayant pour but d'alerter l'Ipinion et les pouvoirs publics des conséquences du déréglement climatique. (...)"
                    </p>
                  </div>
                </div>
                <div class="row bg-gray rounded-3">
                  <div class="col-12 d-flex flex-column gap-3">
                    <h3 class="text-purple">
                      <i class="ph-fill ph-leaf"></i>Commentaire MSDE
                    </h3>
                    <p>
                      Décision très détaillée et très pédagogique, qui pose les bases de la liberté d'expression comme justification des actions de blocage de route au regard du militantisme écologiste.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      @end
        
      <ul class="list-group">
        @each(audience in audiences)
          <li class="list-group-item">
            <p>
              <b>Juridiction:</b>{{ audience.juridiction }}
            </p>
            <p>
              <b>Ville:</b>{{ audience.ville_de_l_audience }}
            </p>
            <p>
              <b>Collectif d'action:</b>{{ audience.collectif_d_action_ou_lutte }}
            </p>
            <p>
              <b>Date de l'audience:</b>{{ audience.date_de_l_audience }}
            </p>
            <p>
              <b>Decision pour les faits:</b>{{ audience.decision_pour_les_faits }}
            </p>
            <p>
              {{ audience.courte_description }}
            </p>
            <details class="mb-3">
              <summary>
                Description
              </summary>
              {{ audience.description }}
            </details>
            @!component('components/timeline', { data: audience.timeline, current: audience.id })
            <a href="/audiences/{{ audience.id }}">Details</a>
          </li>
        @end
      </ul>

      <nav class="mt-3">
        <ul class="pagination">
          @each(pagination in paginations)
            <li class="page-item">
              <a href="{{ pagination.url }}" class="page-link">{{ pagination.page }}</a>
            </li>
          @end
        </ul>
      </nav>
    </div>

  </body>

</html>
