<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>
    Relaxes Pour Le Vivant
  </title>
  @include('partials/bootstrap')
</head>

<body class="bg-light">
  @include('partials/navbar')

  <div class="container mt-3">
    <h1>Bienvenue sur la plateforme de ressources jusridiques pour les défenseur•es du vivant</h1>
    <a href="/sign-in">Se connecter</a>
    <a href="/sign-up">Demander un accès</a>
    <img src="/welcome_illustration.png"/>
    <div>
      <p>
        Décisions de justice, analyses de la répression, arguments du parquet, ... retrouvez toutes les ressources indispensables pour aider les militant·es en procès pour avoir défendu le vivant à se défendre.
      </p>
      <p>
        Cette plateforme est destinée aux avocat·es qui défendent les militant·es dans les prétoires, aux équipes juridiques des collectifs d’action, aux militant·es et aux chercheur·ses qui travaillent sur ces sujets.
      </p>
    </div>
  </div>

</body>

</html>