<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Relaxes Pour Le Vivant
    </title>
    @include('partials/bootstrap')
  </head>

  <body class="bg-light d-flex flex-column min-vh-100">
    <header>
      @include('partials/navbar')
    </header>

    <main class="d-flex flex-column flex-grow-1 justify-content-center">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-6 vstack gap-5">
            <h1 class="gelica-display">
              Bienvenue sur la plateforme de ressources juridiques pour les défenseur•es du vivant
            </h1>

            <a href="/sign-up" class="btn btn-primary yellow-cta fs-5">Demander un accès</a>

            <p class="text-secondary">
              Décisions de justice, analyses de la répression, arguments du parquet, ... retrouvez toutes les ressources indispensables pour aider les militant·es en procès pour avoir défendu le vivant à se défendre.
            <br />              <br />
              Cette plateforme est destinée aux avocat·es qui défendent les militant·es dans les prétoires, aux équipes juridiques des collectifs d’action, aux militant·es et aux chercheur·ses qui travaillent sur ces sujets.
            </p>
          </div>

          <div class="col-6">
            <img
              src="{{ asset('resources/images/welcome_illustration.png') }}"
              class="img-fluid object-fit-cover w-100"
              alt="illustration of a bunch of people peacefully protesting with flags"
            />
          </div>
        </div>

      </div>
    </main>

  </body>

</html>
